

a, figcaption {
  font-family: "eurostile_bqregular";
}

body {
  font-family: "eurostile_bqregular";
}

.holder {
  text-align-last: center;
}

:root {
  --bgcolor: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "eurostile_bqregular";
}

body {
  display: grid;
  place-items: center;
  background: var(--bgcolor);
  color: white;
}

footer {
  display: grid;
  place-items: center;
  margin-top: auto;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding-bottom: 40px;
}

a {
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms ease;
  width: fit-content;
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding-right: 15px;
}

/* figcaption {
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms ease;
  width: calc(100%);
  cursor: pointer;
  color: black;
  text-decoration: none;
  padding-right: 15px;
} */

.footer {
  display: inline;
}

a::before {
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: -5px;
  background: var(--bgcolor);
  height: 3rem;
  overflow: hidden;
  transition: all 300ms ease;
  color: black;
}
a:hover::before {
  top: -3px;
  left: 0px;
  color: black;
}

a::after {
  content: "";
  height: 10px;
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  transition: all 300ms ease;
}
a:hover::after {
  width: 100%;
  outline: 5px solid white;
}

.mobile-chat {
  display: none;
}

/* For mobile devices */
@media only screen and (max-width: 1000px) {
  a::before,
  a::after {
    display: none; /* Hide both pseudo-elements on mobile devices */
  }

  a:hover::after {
    width: initial; /* Reset width */
    outline: none; /* Remove outline */
  }

  a:hover::before {
    top: initial;
    left: initial;
    color: initial;
  }

  a {
    font-size: initial;
    position: static;
    text-transform: none;
    transition: none;
    width: initial;
    cursor: default;
    color: inherit;
    text-decoration: inherit;
    padding-right: 0;
  }

  .mobile-chat {
    display: inline;
    font-size: 50px;
  }
}

.logo-img  {
  width: 100px;
}

.resident-img {
  width: 200px;
}

.review-image {
  align-self: center;
}

.footer-image-email {
  width: 30px;
}

.footer-image-insta {
  width: 30px;
}

.footer a::before,
.footer a::after,
.holder a::after,
.holder a::before {
  display: none; /* Hide both pseudo-elements on mobile devices */
}

.sector-tagline {
  padding-top: 50px;
  text-align: center;
}

.residents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  text-align: center;
}

.schedule {
  padding-top: 20px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
}

.schedule-title { 
    padding-bottom: 20px;
}

.schedule-time {
  padding-bottom: 10px;
}

.schedule li {
  list-style: none;
}
.schedule li:after {
  content: "\A";
  white-space: pre;
}

.show {
  padding-bottom: 20px;
}

.main {
  flex-grow: 1;
  margin-bottom: 3rem;
}

.main h1 {
  margin-bottom: 1.5rem;
}

.title {
  padding-top: 30px;
  text-align: center;
}

.resident-title {
  text-align: center;
  padding-bottom: 40px;
 }

 .resident-info {
  padding: 20px;
  display: grid;
  list-style: none;
  text-align: center;
}

.bio {
  padding-bottom: 20px;
}

hr {
  height: 10px;
  background-color: black;
  border-style: none;
}

.review-block {
  align-self: center;
}

.nav-links {
  text-align: center;
}

/* body  {
  background-image: url("https://25.media.tumblr.com/aa4c6b9f639e688a07a98b34c9ea6461/tumblr_n0p4bzyMge1rxnec1o1_500.gif");
  background-size: cover;

  height: 100vh;
  padding:0;
  margin:0;
} */

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* AUDIO PLAYER */
.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  
}

.audio.green-audio-player {
  color: black;
  width: 400px;
  min-width: 300px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  background-color: #fff;
  .play-pause-btn {
    display: none;
    cursor: pointer;
  }
  .spinner {
    width: 18px;
    height: 18px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
  }
  .slider {
    flex-grow: 1;
    background-color: #D8D8D8;
    cursor: pointer;
    position: relative;
    .progress {
      background-color: #44BFA3;
      border-radius: inherit;
      position: absolute;
      pointer-events: none;
      .pin {
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background-color: #44BFA3;
        position: absolute;
        pointer-events: all;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.32);
      }
    }
  }
  .controls {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #55606E;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    .slider {
      margin-left: 16px;
      margin-right: 16px;
      border-radius: 2px;
      height: 4px;
      .progress {        
        width: 0;
        height: 100%;
        .pin {
          right: -8px;
          top: -6px;
        }
      }
    }
    span {
      cursor: default;
    }
  }
  .volume {
    position: relative;
    .volume-btn {
      cursor: pointer;
      &.open path {
        fill: #44BFA3;
      }
    }
    .volume-controls {
      width: 30px;
      height: 135px;
      background-color: rgba(0, 0, 0, 0.62);
      border-radius: 7px;
      position: absolute;
      left: -3px;
      bottom: 52px;
      flex-direction: column;
      align-items: center;
      display: flex;
      &.hidden {
        display: none;
      }
      .slider {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 6px;
        border-radius: 3px;
        .progress {
          bottom: 0;
          height: 100%;
          width: 6px;
          .pin {
            left: -5px;
            top: -8px;
          }
        }
      }
    }    
  }
}



@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}


